/* prelader */
#loading {
    width: 100%;
    height: 100vh;
    background: black;
    position: fixed;
    z-index: 1200;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sp {
    width: 3px;
    height: 15px;
    position: relative;
    padding: 0px 5px;
    margin: 0px 5px;
    animation: 1s linear infinite alternate load;
  }
  .sp:nth-child(1) {
    animation-delay: 0.1s;
    background-color: rgb(35, 172, 226);
  }
  .sp:nth-child(2) {
    animation-delay: 0.2s;
    background-color: rgb(238, 53, 198);
  }
  .sp:nth-child(3) {
    animation-delay: 0.3s;
    background-color: rgb(247, 226, 44);
  }
  .sp:nth-child(4) {
    animation-delay: 0.4s;
    background-color: rgb(157, 23, 235);
  }
  .sp:nth-child(5) {
    animation-delay: 0.5s;
    background-color: rgb(39, 235, 82);
  }
  .sp:nth-child(6) {
    animation-delay: 0.6s;
    background-color: rgb(240, 28, 28);
  }
  .sp:nth-child(7) {
    animation-delay: 0.7s;
    background-color: rgb(59, 58, 58);
  }
  @keyframes load {
    0% {
      bottom: 0px;
    }
    50% {
      bottom: 20px;
    }
    100% {
      bottom: 0px;
    }
  }
  /* preloader end  */